<div class="header">
  <div class="header-logo">
    <h1>Secure Pay</h1>
  </div>

  <div class="header-links">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="about" routerLinkActive="active">About</a>
    <a routerLink="contact" routerLinkActive="active">Contact</a>
    <!-- <a routerLink="dashboard" routerLinkActive="active">Dashboard</a> -->
    <a routerLink="login" routerLinkActive="active">Login</a>
  </div>
</div>
