.header {
    display: flex;
}

.header-logo{
    width: 20%;
    padding: 10px 50px;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.header-links {
  display: flex;
  gap: 20px;
  padding: 0px 20px;
}

.header-links a {
  text-decoration: none;
  color: black;
}

.active {
    border-bottom: 3px solid;
}