<div class="add-card-form">
  <form [formGroup]="cardGroup" (ngSubmit)="onCardAdd()">
    <input
      type="text"
      placeholder="Card Holder Name"
      formControlName="cardHolderName"
    />

    <input type="text" placeholder="Card Number" formControlName="cardNumber" />

    <input
      type="text"
      placeholder="Expiry Date (MM/YY)"
      formControlName="expireDate"
    />

    <input type="number" placeholder="Balance" formControlName="balance" />

    <button type="submit">Add Card</button>
  </form>
</div>
