<div class="register-container">
  <div class="form-container">
    <img src="./assets/images/mpokket.png" class="mpokket-logo" alt="" />
    <form
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <h2>Create account</h2>
      <div class="form-field">
        <label for="name">Full name</label>
        <input
          id="name"
          type="text"
          placeholder="Full name"
          formControlName="name"
          autocomplete="name"
          required
        />
        <small>{{ showNameValidationError() }}</small>
      </div>

      <div class="form-field">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          placeholder="Username"
          formControlName="username"
          autocomplete="username"
          required
        />
        <small>{{ showUsernameValidationError() }}</small>
      </div>

      <div class="form-field">
        <label for="email">Email address</label>
        <input
          id="email"
          type="email"
          placeholder="name@company.com"
          formControlName="email"
          autocomplete="email"
          required
        />
        <small>{{ showEmailValidationError() }}</small>
      </div>

      <div class="form-field">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Password"
          formControlName="password"
          autocomplete="new-password"
          required
        />
        <small>{{ showPasswordValidationError() }}</small>
      </div>

      <button type="submit" class="register-btn">Register</button>
    </form>
    <div>
      <p>
        Already registered?
        <strong><a routerLink="/login">Sign in</a></strong>
      </p>
    </div>
  </div>
</div>
